<div class="row">
  <div class=".col-sm-6">
    <h2>Qatar University Career Pulse Admin panel</h2>
  </div>
  <div class=".col-sm-6 ml-auto">
    <button class="btn btn-dark"  (click)="toArabic()">{{buttonAr}}</button>
  </div>
  </div>

  <button class="btn btn-danger" routerLink="/home" >Add Event</button>
  <br>
  <br>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> title </th>
      <td mat-cell *matCellDef="let row"> {{row.title}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let row"> {{row.startDate}}% </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> content </th>
      <td mat-cell *matCellDef="let row"> {{row.content | transferHtmlContent}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="Event type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Event type </th>
      <td mat-cell *matCellDef="let row" > {{row.selectedEvent}} </td>
    </ng-container>

 <ng-container matColumnDef="actionsDelete">

      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
   <td mat-cell *matCellDef="let row">  <button mat-fab	 color='warn' (click)="DeleteRow(row)">Delete</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


